body {
    margin: auto;
    padding-right: 2em;
    padding-left: 2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    }

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: black;  
    padding: 1em;
}

code {
    font-family: monospace;
    }

h1 {
     color: #0000ff;
     background: #ddeedd;
     padding-top: 0.5em;
     text-align: center;
     font-family: verdana;
     font-weight: bold;
     font-size: 160%;
     line-height:150%;
     padding-bottom: 0.5em;
}

h2 {padding-top: 1em;
    text-align: left;
    font-size: 140%;}

h3 {
        font-size: 130%;
}

h4 {
        font-size: 110%;
        font-style: italic;
}

h5 {
        font-size: 105%;
        font-style: italic;
}


dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}

  img {
    padding-left: 0em; padding-right: 0em;
    padding-top: 0em; padding-bottom: 0em;
    }

A:link    { color: #0000e0; text-decoration: none }
A:visited { color: #0000a0; text-decoration: none }
A:hover   { background-color: #e0e0ff; text-decoration: none }

h2.author {
  text-align: center;
  font-size: 110%;}

h3.date {
 text-align: center;
  font-size: 100%;}
}

div.titletemp {
    color: navy;
}  

  div.box {
    border: solid; border-width: thin; border-color: red;
    padding-left: 1em; padding-right: 1em;
    padding-top: .5em; padding-bottom: .5em;
    }

  div.color {
    background: yellow;
    padding: 0.5em;
    border: none;
    }

  div.floatright {
    float: right;
    margin: 0 0 10px 10px;
    }

  div.floatleft {
    float: left;
    margin: 0 0 10px 10px;
    }


.floatright {
    border : dotted; border-width: thin; border-color: red;
    padding-left: 1em; padding-right: 1em;
    padding-top: 1em; padding-bottom: 1em;
}


.clearit {
  clear: both;
  }

.figure {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0em;
  }
